main {
    padding-top: 18vh;
}

main, main h2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

main h2 {
    margin-left: 3vw;
    width: 100vw;
}

table {
    border: 0.1vw solid black;
    width: 5vw;
    width: 90vw;
}
th {
    background-color: black;
    color: white;
}

th, td {
    border: 0.1vw solid black;
    width: 10vw;
    height: 2.5vw;
}

.meses {
    height: 5vw;
}
