* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: fantasy;
}

h2 {
    text-decoration: underline;
    margin-bottom: 1vh;
}

p {
    line-height: 3.5vh;
}

header {
    background-image: url(../img/logo-the-last-of-us.webp);
    background-size: 20vh;
    background-position-y: 3vh; 
    background-position-x: center;
    background-repeat: no-repeat;
    background-color: black;
    border-bottom: solid 0.2vh white;
    height: 15vh;
    position: fixed;
}

#navegacio ul {
    display: flex;
    justify-content: center;
    margin-top: 9vh;
}

#navegacio ul li {
    list-style: none;
    margin: 0.5vh;
}

#navegacio ul li a {
    text-decoration:  none;
    color: white;
    padding: 0.8vh;
    font-size: 2.5vh;
}

#navegacio ul li a:hover {
    background-color: white;
    color: black;
    border-radius: 5px;
}

body {
    background-color: rgb(63, 63, 63);
}

#enllaços ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

#enllaços ul li img {
    height: 5vh;
    margin: 3vh 1.5vw 1.5vh 1.5vw;
}

#enllaços ul li img:hover {
    transform: scale(1.1);
}
    
footer {
    background-color: black;
    height: 15vh;
    border-top: 0.1vw solid white;
    margin-top: 8vh;
}

footer p {
    color: white;
    display: flex;
    justify-content: center;
    font-size: small;
}

/* ESTRUCTURACION */
[class*="col-"] {
    float: left;
}

.row::after{
    content: "";
    clear: both;
    display: table;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
  
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}
}
  
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .col-lg-1 {width: 8.33%;}
    .col-lg-2 {width: 16.66%;}
    .col-lg-3 {width: 25%;}
    .col-lg-4 {width: 33.33%;}
    .col-lg-5 {width: 41.66%;}
    .col-lg-6 {width: 50%;}
    .col-lg-7 {width: 58.33%;}
    .col-lg-8 {width: 66.66%;}
    .col-lg-9 {width: 75%;}
    .col-lg-10 {width: 83.33%;}
    .col-lg-11 {width: 91.66%;}
    .col-lg-12 {width: 100%;}
}



