main {
    margin-top: 18vh;
}

main h2, main p{
    padding: 0 3vw 0 3vw;
}

main div {
    display: flex;
    justify-content: center;
}

main div img {
    margin-top: 2.5vw;
    width: 80vw;
    border: 0.2vh solid black;
}

@media only screen and (min-width: 768px) {

    main div img {
        width: 60vw;
    }

}

@media only screen and (min-width: 992px) {

    main div img {
        width: 50vw;
    }

}
